<div class="container mt-2">

  <!-- breadcrump -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/employees">Employees</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>

  <!-- employee details form -->
  <form [formGroup]="employeeForm">
    <div class="header">Contact information</div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First name</label>
        <input formControlName="firstName" type="text" id="firstName" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last name</label>
        <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="company">Company</label>
        <input formControlName="company" type="text" id="company" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-3">
        <label for="status">Status</label>
        <input formControlName="status" type="text" id="status" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-3">
        <label for="phoneNumber">Phone</label>
        <input formControlName="phoneNumber" type="text" id="phoneNumber" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-3">
        <label for="dateOfBirth">Date of birth</label>
        <input formControlName="dateOfBirth" type="text" id="dateOfBirth" class="form-control" placeholder="">
      </div>
    </div>

    <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
  </form>

</div>