<div class="container mt-2">
  
  <!-- breadcrump -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Employees</li>
    </ol>
  </nav>

  <!-- TODO search -->

  <!-- employees list -->
  
  <div class="list-group">

    <!-- TODO change to header later -->
    <a class="list-group-item list-group-item-action disabled">
      <div class="row">
        <div class="col-2">firstName</div>
        <div class="col-2">lastName</div>
        <div class="col-2">contact</div>
        <div class="col-2">company</div>
        <div class="col-2">status</div>
        <div class="col-2">last updated</div>
      </div>
    </a>

    <!-- add *ngFor and iterate for every employee -->
    <a class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-2">firstName</div>
        <div class="col-2">lastName</div>
        <div class="col-2">contact</div>
        <div class="col-2">company</div>
        <div class="col-2">status</div>
        <div class="col-2">last updated</div>
      </div>
    </a>
  </div>


</div>